$border-color: $black;
$search-font: $playfair;

.about-info {
  padding: 92px 0 35px;

  .about-box {
    .about-box-title {
      margin-bottom: 19px;
    }
    .about-box-img {
      display: block;
      overflow: hidden;

      margin-bottom: 48px;
      img {
        display: block;
        width: 100%;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .about-box-search {
    .search-wrapper {
      border: 1px solid $border-color;
      .search-input {
        border: none !important;
        padding: 15px 20px;

        &::placeholder {
          font-family: $search-font;
          font-weight: 500;
          font-style: italic;
          font-size: 1.4rem;
          line-height: 20px;
          letter-spacing: 10%;
          color: $font-color;
        }
        &:focus {
          box-shadow: none !important;
          border-color: none !important;
        }
      }
      .search-btn {
        padding: 15px;
        border: none !important;
      }
    }
    .news {
      &.about {
        padding-top: 38px;
      }
    }
  }
}
