$label-font: $playfair;
$label-color: $black;

.blog-single-content {
  padding-bottom: 195px;

  .blog-single-content-img {
    display: block;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .blog-single-tag {
    padding-top: 37px;
    .tags-label {
      font-family: $label-font;
      font-style: italic;
      font-size: 1.4rem;
      line-height: 46px;
      letter-spacing: 10%;
      color: $label-color;
    }
  }
}
