//MIXIN

@mixin title-line($mb) {
  width: 8.33%;
  height: 2px;
  background-color: rgba(236, 217, 217, 1);
  margin-top: 2.8rem;
  margin-bottom: $mb;
  margin-left: 0;
  margin-right: auto;
  display: block;
}
