$error-color: $white-gray;
$error-background: $pink;

.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 80vh;
  width: 100%;

  .hero-title {
    &.error-hero-title {
      margin-bottom: 59px;
    }
  }

  .error-btn {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 10%;
    color: $error-color;
    padding: 15px 25px;
    border: 1px solid $error-color;
    transition: all 0.5s;

    &:hover {
      background-color: darken($error-background, 20%);
    }
  }
}
